{% extends 'base.html.twig' %}

{% block title %}My Entreprise MainPage{% endblock %}

{% block body %}

    <p class='h2 text-center'><u>Bienvenu sur le site de mon Entreprise</u></p>
    <div class='w-100 d-flex justify-content-center'>
        <img src='{{asset("mainpage.jpg")}}' style='width:80%;' class='text-center m-auto'/>
    </div>
    
{% endblock %}
